agno
anthropic
ddgs
exa_py
fastapi[standard]
mcp
nest_asyncio
openai
openinference-instrumentation-agno
opentelemetry-api
opentelemetry-sdk
pandas
parallel-web
pgvector
psycopg[binary]
pypdf
sqlalchemy
yfinance
youtube-transcript-api
